Flask==2.1.1
flask-restplus==0.13.0
flask-restx==1.1.0
importlib-metadata==4.11.3
importlib-resources==5.6.0
itsdangerous==2.1.2
Jinja2==3.1.1
jsonschema==4.4.0
MarkupSafe==2.1.1
pyrsistent==0.18.1
pytz==2022.1
six==1.16.0
typing_extensions==4.1.1
Werkzeug==2.1.1
zipp==3.8.0
